@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
};

@font-face {
  font-family: 'QuickSand';
  src: url('./assets/fonts/QuickSand/Quicksand-VariableFont_wght.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway';
}

:root {
  --bg-color-primary: #08131f;
  --bg-color-cards: #071e37;
  --buttons-colors: #205295;
  --optional-colors: #2C74B3;

  --std-black: #000;
  --std-white: #fff;
}

body {
  background-color: var(--bg-color-primary);
  color: var(--std-white);
}

.clip-circle {
  clip-path: circle(50%);
}

.custom-effect {
  border-bottom: 2px solid transparent; 
  transition: all .45s;
}

.custom-effect:hover {
  border-bottom: 2px solid var(--std-white); 
}

.bg-image {
  background: linear-gradient(rgba(7, 8, 12, 0.85), rgba(7, 8, 12, 0.85)), url('/coding.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}